<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= #render 'shared/error_messages' %> <!-- Вывод сообщений об ошибке (_error_messages.html.erb)-->
        <!-- do указывает на то что form_for принимает блок с одной переменной, которую мы назвали f (от “form”) -->

        <%= render 'fields', f: f %>
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %> <!-- _fields.html.erb -->
    <% end %>
  </div>
</div>