<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |key, value| %> <!-- отображение содержимого флэш повсеместно на сайте --->
      <!--<div class="alert alert-<%= key %>"><%= value %></div>&lt;!&ndash; организует вставку каждого флэш элемента в div тег, с CSS классом, указывающим на тип сообщения -&ndash;&gt;-->
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %> <!-- Это отображает некоторую полезную информацию о каждой странице -->
  <!-- if Rails.env.development? - Что бы не показывать отладочную информацию пользователял развернутого приложения -->
</div>
</body>
</html>